@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
$bodyBg: #19A1AE;
html {
    font-size: 18px;
    font-family: 'Kumbh Sans', sans-serif;
}
body {
    background-color: $bodyBg;
    overflow: hidden;
}
header {
    position: relative;
    padding-bottom: 1px;
    z-index: 10;
}
body::before {
    position: absolute;
    top: 0px;
    left: 70px;
    content: "";
    width: 100vw;
    height: 100vh;
    mix-blend-mode: normal;
    transform: translate(-50%, -50%);
    background-image: url(../images/bg-pattern-top.svg);
    background-repeat: no-repeat;
    background-position: right bottom;
}

body::after {
    z-index: 1;
    position: absolute;
    content: "";
    top: 37%;
    left: 57%;
    width: 100vw;
    height: 100vh;
    background: url(../images/bg-pattern-bottom.svg) left top no-repeat;
}

.card {   
    width: 90%;
    max-width: 326px;
    margin: 147px auto;
}
.heroImg {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    overflow: hidden;
}
img.profile {
    position: relative;
    top: -53px;
    display: block;
    margin: auto;
    border-radius: 50%;
    border: 3px solid white;
}
.heroContainer{
    position: relative;
    background-color: white;
    margin-top: -5px;
    padding-top: 0;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}
.records {
    text-align: center;
    padding-bottom: 15px;
}
h1 {
    padding-bottom: 15px;
    margin-top: -25px;
}
h1,  h3{
    font-size: 1rem;
    color: #2E3349;
}
h2 {
    font-size: 0.77rem;
    color: #6B7082;
}
h4 {
   font-size: .5rem;
   font-weight: 400;
   color: #6B7082;
}
.stats {
    display: flex;
    flex-direction: row;
    justify-content: space-around;    
    margin: auto;
    padding: 24px 50px;
    border-top: 1px solid #E8E9EC;
}
strong {
    font-weight: 400;
    color: #6B7082;
}

@media screen and(min-width: 1220px) {
    .card {       
        max-width: 350px;
             margin: 173px auto;
    }
  
}
@media screen and(min-width: 1440px) {
    body {
        max-width: 1440px;
        margin: auto;
    }
   
}